<% if (typeof(page.authorId) != "undefined"){ %>
<div class="widget tag author">
  <h3 class="title">About the Author</h3>
  <% if(page.authorId == "RN"){ %> 
  <img class="img-circle" src="/images/RN.png">
  <h4 class="title">Rishub Nagpal<br>ECE Student @ GMU</h4>
  <ul class="entry">
      <li>
        <a target="_blank" href="https://github.com/shrub77">Github</a>
      </li>
      <li>
        <a target="_blank" href="mailto:rnagpal2@gmu.edu">Contact</a>
      </li>
  </ul>
  <% } %>
</div>
<% } %>